<a href="https://colab.research.google.com/github/LokeshY27/data-science-portfolio/blob/main/01-python/Basics/01_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**#Keywords**
Reserved words in python that have special meaning.

In [ ]:
# Get all keywords in python
import keyword
print (keyword.kwlist)
print ("\n Total number of keywords:",len (keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Total number of keywords: 35

#**#Indentifiers**
Names used for variables, functions, classes.
Rules:
(1) cannot start with number
(2) No special symbols except _
(3) Case-sensitive
(4) Keywords cannot be used as identifiers.

In [ ]:
a_12_bc = 12;
print(a_12_bc)

12

#**#Comments**
Used to explain code.

In [ ]:
# In python we use the hash (#) symbol to start writing a comment.
print ("Hello World")

Hello World

#Multi Line comments
If we comments that extend multiple lines.

In [ ]:
# One way of doing it is to use (#) in the beginning of each line.
# This is a long comment
# and it extents
# Multiple lines.
print ("Multiple Line comments")

Multiple Line comments

In [ ]:
# Another way of doing this is to use triple quotes either  (''') or (""").
""" This is also a
perfect example of
multiple line comments"""
print ("Multiple Line comments")

Multiple Line comments

#**#Indentation**
Defines code blocks in Python.

In [ ]:
for i in range (10):
    print(i)        # use 4 spaces for indentation

0
1
2
3
4
5
6
7
8
9

In [ ]:
if True:
    print ( "Machine Learning")
    c = "AAIC"                      # More readable and clean code

Machine Learning

In [ ]:
if True: print ("Machine Learning"); c = "AAIC"       #Code Readablity is as important as code correctness.

Machine Learning

#**#Statements**
Instructions that a Python interpreter can execute.

In [ ]:
a =1           # single statement

#Multiline Line statement
In Python, we can write a single logical statement across multiple physical lines using either implicit or explicit line continuation.

In [ ]:
# Explicit Line
 # use backslash at the very end of a line to tell
 # python that the statment continues on the next line.

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8
print(a)

36

In [ ]:
# Implicit Line
 # Another way to use parenthesis

a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8)
print (a)

36

In [ ]:
a = 10; b = 20; c =30    # put mulitple statements in a single line

#**#Variables**
(1) Variables stores data in memory.
(2) Python is dynamically typed.
(3) Variable names ate case-sensitive.
(4) Value can be reassigned.

#Variable Assignments

In [ ]:
# we use the assignment operator (=) to assign values to as variable
a = 10
b = 5
c = "ML"

#Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI"    # assign the same value to multiple variables at once

#Storage Locations

In [ ]:
x = 3
print(id(x))       # print address of variable x

11654440

In [ ]:
y = 3
print(id(y))       # print address of variable y
                   # Observation: x and y points to same memory location

11654440

In [ ]:
y = 2
print(id(y))       # print address of variable y

11654408

#Examples

In [ ]:
# 1 Basic Variable Assignment

x = 10
name = "Rahul"
pi = 3.14

print (x)
print (name)
print (pi)

10
Rahul
3.14

In [ ]:
# 2 Checking Data Type

a = 25
b = 2.5
c = "Python"
d = True

print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# 3 Reassigning Variables

x = 10
x = 20

print (x)

20

In [ ]:
# 4 Multiple Assignment

a, b, c = 1, 2, 3

print (a,b,c)

1 2 3

In [ ]:
# 5 Assign same value to multiple assignment

x=y=z=100

print(x,y,z)

100 100 100

In [ ]:
# 6 Swapping variables

a = 5
b = 10
a,b = b,a
print (a,b)

10 5

In [ ]:
# 7 Using variables in expressions

length = 10
width = 5
area = length * width
print (area)

50

#**#Data Types**
(1) Data type defines the type of value a variable stores.
(2) Python determines data type automatically.
(3) type() is used to check data type.
(4) Data types can be converted using type casting.

#Important Rules
(1) input() always returns string.
(2) int("10") is valid.
(3) int("10.5") will cause error.

#Numbers
They are defined as int, float, and complex class in python.

In [ ]:
a = 5      # data type is implicitely set to integer
print (a,"is integer?")
print (isinstance (5, int))
print (type(a))

5 is integer?
True
<class 'int'>

In [ ]:
a = 2.5    # data type is changed to float
print (a,"is of type",type(a))

2.5 is of type <class 'float'>

In [ ]:
a =1 + 2j   # data type is changed to complex no.
print (a,"is complex number?")
print (isinstance (1+2j, complex))
print (type(a))

(1+2j) is complex number?
True
<class 'complex'>

#Boolean
Boolean represents the truth values False and True.

In [ ]:
a = True
print (type(a))

<class 'bool'>

#Python Strings
(1) A string in python consists of a series or sequence of characters - letters, numbers, and special characters.
(2) Strings can be indexed.
(3) The first character of a string has the index 0.

In [ ]:
s = " This is Online AI course"
print (s)
print (type(s))

 This is Online AI course
<class 'str'>

In [ ]:
s = ''' This is Online AI
course'''
print (s)
print (type(s))

 This is Online AI
course
<class 'str'>

In [ ]:
s = 'This is Online AI course'
print (s[0])
print (s[5])
print (s[-1])        # last char s[len(s)-1] or s[-1]
print (s[len(s)-1])
print (s[-2])

T
i
e
e
s

In [ ]:
# slicing
s[5:]

'is an Online AI course'

In [ ]:
s[5:11]

'is an '

#Python List
(1) List is an ordered sequence of items.
(2) All the items in a list do not need to be of the same type.
(3) Declaring a list is, Items separated by commas are enclosed within brackets [].

In [ ]:
a = [10, 20.5, 'Hello']
print (a[1])              # print Ist Index element

20.5

In [ ]:
a [1] = 30.7
print (a)                 # Lists are mutable

[10, 30.7, 'Hello']

#Python Tuple
Tuple is an ordered sequence of items same as list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [1]:
t = (1, 1.5, 'ML')
print (t[1])         # Extract particular element

1.5

In [4]:
t[1]=1.25    # Tuple object does not support item assignment

TypeError: 'tuple' object does not support item assignment

#Python Set
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces {}. Items in a set are not ordered. We can perform set operators like union, intersection on two sets. Set have unique values.

In [6]:
a = {10, 30, 20, 40, 5}
print (a)
print (type(a))

{20, 5, 40, 10, 30}
<class 'set'>

In [8]:
s = {10, 20, 20, 30, 30, 30}
print (s)                 # automatically set won't consider duplicate elements.

{10, 20, 30}

In [11]:
print (s(1))      # we can't print particular element in set bcz its unordered
                  # collection of items.

TypeError: 'set' object is not callable

#Python Dictionary
Dictionary is an unordered collection of key-value pairs. In Python, dictionaries are defined within braces {} with each item being a pair in the form key-value. Key and value can be of any type.

In [12]:
d = {'a': 'apple', 'b': "bat"}
print (d['a'])

apple

#Conversion between Data Types
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [13]:
float (5)       # convert integer to float usong float () method

5.0

In [16]:
int (100.7)     # convert float to integer using int () method

100

In [15]:
str (20)        # convert intger to string

'20'

In [19]:
# conversion to and from string must contain compatible values

int ('10')

10

In [20]:
int ('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [21]:
user = "Lokesh"
lines = 100

print ("Congratulations,"  + user + "! You just wrote " + str(lines) + " lines of code")

Congratulations,Lokesh! You just wrote 100 lines of code

In [24]:
a = [1, 2, 3]
print (type(a))      # type of a is list

<class 'list'>

In [25]:
S = set (a)          # convert list to set using set() method
print(type(s))       # now type of s is set

<class 'set'>

In [26]:
list ("Hello")       # convert string to list using list() method

['H', 'e', 'l', 'l', 'o']

#**#Python Input and Output**

#Python Output
we use the print() function to output data to the standard output device.

In [27]:
print ("Hello World")

Hello World

In [33]:
a = 10
print (" The value of a is",a)
print (" The value of a is " + str(a))

 The value of a is 10
 The value of a is 10

#Output Formatting

In [34]:
a = 10; b = 20        # multiple statements in single line
print ("The value of a is {} and b is {}".format(a,b))

The value of a is 10 and b is 20

In [36]:
a = 10; b = 20        # specify position
print ("The value of b is {1} and a is {0}".format(a,b))

The value of b is 20 and a is 10

In [37]:
# We can use keyword arguements to format the string

print ("Hello {name}, {greeting}".format(name="Lokesh", greeting="Good Morning"))

Hello Lokesh, Good Morning

In [46]:
# we can combine positional arguements with keyword arguements

print ('The story of {0}, {1} and {other}'.format('Bill','Manfred',other = 'Georg'))

The story of Bill, Manfred and Georg

#Python Input
In Python, we have the input () function to allow this.

In [48]:
num = input("Enter a number:")
print (num)

Enter a number:1234
1234

#**#Operators**
Operators are special symbols in Pyhton that carry out arithmatic or logical computation. The value that the operator operated on is called the Operand.