<a href="https://colab.research.google.com/github/LokeshY27/data-science-portfolio/blob/main/01-python/Basics/01_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**#Keywords**
Reserved words in python that have special meaning.

In [ ]:
# Get all keywords in python
import keyword
print (keyword.kwlist)
print ("\n Total number of keywords:",len (keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Total number of keywords: 35

#**#Indentifiers**
Names used for variables, functions, classes.
Rules:
(1) cannot start with number
(2) No special symbols except _
(3) Case-sensitive
(4) Keywords cannot be used as identifiers.

In [ ]:
a_12_bc = 12;
print(a_12_bc)

12

#**#Comments**
Used to explain code.

In [ ]:
# In python we use the hash (#) symbol to start writing a comment.
print ("Hello World")

Hello World

#Multi Line comments
If we comments that extend multiple lines.

In [ ]:
# One way of doing it is to use (#) in the beginning of each line.
# This is a long comment
# and it extents
# Multiple lines.
print ("Multiple Line comments")

Multiple Line comments

In [ ]:
# Another way of doing this is to use triple quotes either  (''') or (""").
""" This is also a
perfect example of
multiple line comments"""
print ("Multiple Line comments")

Multiple Line comments

#**#Indentation**
Defines code blocks in Python.

In [ ]:
for i in range (10):
    print(i)        # use 4 spaces for indentation

0
1
2
3
4
5
6
7
8
9

In [ ]:
if True:
    print ( "Machine Learning")
    c = "AAIC"                      # More readable and clean code

Machine Learning

In [ ]:
if True: print ("Machine Learning"); c = "AAIC"       #Code Readablity is as important as code correctness.

Machine Learning

#**#Statements**
Instructions that a Python interpreter can execute.

In [ ]:
a =1           # single statement

#Multiline Line statement
In Python, we can write a single logical statement across multiple physical lines using either implicit or explicit line continuation.

In [ ]:
# Explicit Line
 # use backslash at the very end of a line to tell
 # python that the statment continues on the next line.

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8
print(a)

36

In [ ]:
# Implicit Line
 # Another way to use parenthesis

a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8)
print (a)

36

In [ ]:
a = 10; b = 20; c =30    # put mulitple statements in a single line

#**#Variables**
(1) Variables stores data in memory.
(2) Python is dynamically typed.
(3) Variable names ate case-sensitive.
(4) Value can be reassigned.

#Variable Assignments

In [ ]:
# we use the assignment operator (=) to assign values to as variable
a = 10
b = 5
c = "ML"

#Multiple Assignments

In [ ]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI"    # assign the same value to multiple variables at once

#Storage Locations

In [ ]:
x = 3
print(id(x))       # print address of variable x

11654440

In [ ]:
y = 3
print(id(y))       # print address of variable y
                   # Observation: x and y points to same memory location

11654440

In [ ]:
y = 2
print(id(y))       # print address of variable y

11654408

#Examples

In [ ]:
# 1 Basic Variable Assignment

x = 10
name = "Rahul"
pi = 3.14

print (x)
print (name)
print (pi)

10
Rahul
3.14

In [ ]:
# 2 Checking Data Type

a = 25
b = 2.5
c = "Python"
d = True

print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# 3 Reassigning Variables

x = 10
x = 20

print (x)

20

In [ ]:
# 4 Multiple Assignment

a, b, c = 1, 2, 3

print (a,b,c)

1 2 3

In [ ]:
# 5 Assign same value to multiple assignment

x=y=z=100

print(x,y,z)

100 100 100

In [ ]:
# 6 Swapping variables

a = 5
b = 10
a,b = b,a
print (a,b)

10 5

In [ ]:
# 7 Using variables in expressions

length = 10
width = 5
area = length * width
print (area)

50

#**#Data Types**
(1) Data type defines the type of value a variable stores.
(2) Python determines data type automatically.
(3) type() is used to check data type.
(4) Data types can be converted using type casting.

#Important Rules
(1) input() always returns string.
(2) int("10") is valid.
(3) int("10.5") will cause error.

#Numbers
They are defined as int, float, and complex class in python.

In [ ]:
a = 5      # data type is implicitely set to integer
print (a,"is integer?")
print (isinstance (5, int))
print (type(a))

5 is integer?
True
<class 'int'>

In [ ]:
a = 2.5    # data type is changed to float
print (a,"is of type",type(a))

2.5 is of type <class 'float'>

In [ ]:
a =1 + 2j   # data type is changed to complex no.
print (a,"is complex number?")
print (isinstance (1+2j, complex))
print (type(a))

(1+2j) is complex number?
True
<class 'complex'>

#Boolean
Boolean represents the truth values False and True.

In [ ]:
a = True
print (type(a))

<class 'bool'>

#Python Strings
(1) A string in python consists of a series or sequence of characters - letters, numbers, and special characters.
(2) Strings can be indexed.
(3) The first character of a string has the index 0.

In [ ]:
s = " This is Online AI course"
print (s)
print (type(s))

 This is Online AI course
<class 'str'>

In [ ]:
s = ''' This is Online AI
course'''
print (s)
print (type(s))

 This is Online AI
course
<class 'str'>

In [ ]:
s = 'This is Online AI course'
print (s[0])
print (s[5])
print (s[-1])        # last char s[len(s)-1] or s[-1]
print (s[len(s)-1])
print (s[-2])

T
i
e
e
s

In [ ]:
# slicing
s[5:]

'is an Online AI course'

In [ ]:
s[5:11]

'is an '

#Python List
(1) List is an ordered sequence of items.
(2) All the items in a list do not need to be of the same type.
(3) Declaring a list is, Items separated by commas are enclosed within brackets [].

In [ ]:
a = [10, 20.5, 'Hello']
print (a[1])              # print Ist Index element

20.5

In [ ]:
a [1] = 30.7
print (a)                 # Lists are mutable

[10, 30.7, 'Hello']

#Python Tuple
Tuple is an ordered sequence of items same as list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [ ]:
t = (1, 1.5, 'ML')
print (t[1])         # Extract particular element

1.5

In [ ]:
t[1]=1.25    # Tuple object does not support item assignment

TypeError: 'tuple' object does not support item assignment

#Python Set
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces {}. Items in a set are not ordered. We can perform set operators like union, intersection on two sets. Set have unique values.

In [ ]:
a = {10, 30, 20, 40, 5}
print (a)
print (type(a))

{20, 5, 40, 10, 30}
<class 'set'>

In [ ]:
s = {10, 20, 20, 30, 30, 30}
print (s)                 # automatically set won't consider duplicate elements.

{10, 20, 30}

In [ ]:
print (s(1))      # we can't print particular element in set bcz its unordered
                  # collection of items.

TypeError: 'set' object is not callable

#Python Dictionary
Dictionary is an unordered collection of key-value pairs. In Python, dictionaries are defined within braces {} with each item being a pair in the form key-value. Key and value can be of any type.

In [ ]:
d = {'a': 'apple', 'b': "bat"}
print (d['a'])

apple

#Conversion between Data Types
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float (5)       # convert integer to float usong float () method

5.0

In [ ]:
int (100.7)     # convert float to integer using int () method

100

In [ ]:
str (20)        # convert intger to string

'20'

In [ ]:
# conversion to and from string must contain compatible values

int ('10')

10

In [ ]:
int ('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [ ]:
user = "Lokesh"
lines = 100

print ("Congratulations,"  + user + "! You just wrote " + str(lines) + " lines of code")

Congratulations,Lokesh! You just wrote 100 lines of code

In [ ]:
a = [1, 2, 3]
print (type(a))      # type of a is list

<class 'list'>

In [ ]:
S = set (a)          # convert list to set using set() method
print(type(s))       # now type of s is set

<class 'set'>

In [ ]:
list ("Hello")       # convert string to list using list() method

['H', 'e', 'l', 'l', 'o']

#**#Python Input and Output**

#Python Output
we use the print() function to output data to the standard output device.

In [ ]:
print ("Hello World")

Hello World

In [ ]:
a = 10
print (" The value of a is",a)
print (" The value of a is " + str(a))

 The value of a is 10
 The value of a is 10

#Output Formatting

In [ ]:
a = 10; b = 20        # multiple statements in single line
print ("The value of a is {} and b is {}".format(a,b))

The value of a is 10 and b is 20

In [ ]:
a = 10; b = 20        # specify position
print ("The value of b is {1} and a is {0}".format(a,b))

The value of b is 20 and a is 10

In [ ]:
# We can use keyword arguements to format the string

print ("Hello {name}, {greeting}".format(name="Lokesh", greeting="Good Morning"))

Hello Lokesh, Good Morning

In [ ]:
# we can combine positional arguements with keyword arguements

print ('The story of {0}, {1} and {other}'.format('Bill','Manfred',other = 'Georg'))

The story of Bill, Manfred and Georg

#Python Input
In Python, we have the input () function to allow this.

In [ ]:
num = input("Enter a number:")
print (num)

Enter a number:1234
1234

#**#Operators**
Operators are special symbols in Pyhton that carry out arithmatic or logical computation. The value that the operator operated on is called the Operand.

#1. Python Output

In [ ]:
# Python is a case sensitive language
print('Hello world')

Hello world

In [ ]:
print(7)

7

In [ ]:
print(7.7)

7.7

In [ ]:
print(True)

True

In [ ]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [ ]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [ ]:
print('Hello',1,4.5,True,sep=',')

Hello,1,4.5,True

In [ ]:
print('Hello')
print('World')

Hello
World

In [ ]:
print('Hello',end='-')
print('World')

Hello-World

#2. Data Types

In [ ]:
# Integer
print(8)
# 1*10^308
print(1e308)      # Maximum integer that it can handle
print(1e309)

8
1e+308
inf

In [ ]:
# Decimal/Float
print(8.55)
print(1.7e308)     # Maximum float that it can handle
print(1.7e309)

8.55
1.7e+308
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text/String
print('Hello World')

Hello World

In [ ]:
# Complex Number
print(5+6j)

(5+6j)

In [ ]:
# List
print([1,2,3,4])

[1, 2, 3, 4]

In [ ]:
# Tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [ ]:
# Sets
print({1,2,3,4})

{1, 2, 3, 4}

In [ ]:
# Dictionary
print({'Name':'Lokesh','Age':22})

{'Name': 'Lokesh', 'Age': 22}

In [ ]:
# type function
type(3)

int

In [ ]:
type(True)

bool

#3. Variables

In [ ]:
name = 'Lokesh'
print(name)

a = 4
b = 5
print(a+b)

Lokesh
9

In [ ]:
# Dynamic Typing - where you do not tell the data type of variable
a = 5
# Static Typing - where you tell the data type of variable like in c,c++
# int a = 5

In [ ]:
# Dynamic Binding - No fixed data type
a = 5
print(a)
a = 'Lokesh'
print(a)

5
Lokesh

In [ ]:
# Static Binding - fixed data type
# int a = 5

In [ ]:
a =1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

#4. Comments

In [2]:
# to explain code
a = 4
b = 5   # we can also comment here
# this is a comment
print (a+b)

9

#5. Keywords & Identifiers
Keywords are reserved words in python which have special meaning.
Identifiers are the names used for function, class, variables.

In [3]:
# 32 keywords

In [10]:
# Identifiers
# You can't start with a digit
name1 = 'Lokesh'
print(name1)
# You can use special chars -> _
_ = 'Lokesh'
print(_)
# Identifiers can not be keyword

Lokesh
Lokesh

#6. User Input

In [15]:
# Static Vs Dynamic
input('Tell me your Name')

Tell me your Name Lokesh

' Lokesh'

In [32]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
print(type(fnum),type(snum))
# add the two variables
result = (fnum) + (snum)
# print the result
print(result)
print(type(fnum))

enter first number 50
enter second number 60
<class 'int'> <class 'int'>
110
<class 'int'>

#7. Type Conversion

In [29]:
# Implicit Vs Explicit

# Implicit
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [30]:
# Explicit

# str -> int
int('4')

# int to str
str(5)

# float
float(4)

4.0

#8. Literals

In [37]:
a = 0b1010  # Binary Literals
b = 100     # Decimal Literals
c = 0o310   # Octal Literals
d = 0x12c   # Hexadecimal Literals

# Float Literal
float_1 = 10.5
float_2 = 1.5e2   # 1.5 * 10^2
float_3 = 1.5e-3  # 1.5 * 10^-3

# Complex Literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [39]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"
print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.

raw \n string

In [40]:
a = True + 4
b = False + 10
print("a:",a)
print("b:",b)

a: 5
b: 10

In [41]:
a = None
print(a)

None