<a href="https://colab.research.google.com/github/LokeshY27/data-science-portfolio/blob/main/01-python/Basics/01_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**#Keywords**
Reserved words in python that have special meaning.

In [ ]:
# Get all keywords in python
import keyword
print (keyword.kwlist)
print ("\n Total number of keywords:",len (keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Total number of keywords: 35

#**#Indentifiers**
Names used for variables, functions, classes.
Rules:
(1) cannot start with number
(2) No special symbols except _
(3) Case-sensitive
(4) Keywords cannot be used as identifiers.

In [5]:
a_12_bc = 12;
print(a_12_bc)

12

#**#Comments**
Used to explain code.

In [ ]:
# In python we use the hash (#) symbol to start writing a comment.
print ("Hello World")

Hello World

#Multi Line comments
If we comments that extend multiple lines.

In [ ]:
# One way of doing it is to use (#) in the beginning of each line.
# This is a long comment
# and it extents
# Multiple lines.
print ("Multiple Line comments")

Multiple Line comments

In [ ]:
# Another way of doing this is to use triple quotes either  (''') or (""").
""" This is also a
perfect example of
multiple line comments"""
print ("Multiple Line comments")

Multiple Line comments

#**#Indentation**
Defines code blocks in Python.

In [2]:
for i in range (10):
    print(i)        # use 4 spaces for indentation

0
1
2
3
4
5
6
7
8
9

In [ ]:
if True:
    print ( "Machine Learning")
    c = "AAIC"                      # More readable and clean code

Machine Learning

In [ ]:
if True: print ("Machine Learning"); c = "AAIC"       #Code Readablity is as important as code correctness.

Machine Learning

#**#Statements**
Instructions that a Python interpreter can execute.

In [ ]:
a =1           # single statement

#Multiline Line statement
In Python, we can write a single logical statement across multiple physical lines using either implicit or explicit line continuation.

In [ ]:
# Explicit Line
 # use backslash at the very end of a line to tell
 # python that the statment continues on the next line.

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8
print(a)

36

In [ ]:
# Implicit Line
 # Another way to use parenthesis

a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8)
print (a)

36

In [ ]:
a = 10; b = 20; c =30    # put mulitple statements in a single line

#**#Variables**
(1) Variables stores data in memory.
(2) Python is dynamically typed.
(3) Variable names ate case-sensitive.
(4) Value can be reassigned.

#Variable Assignments

In [6]:
# we use the assignment operator (=) to assign values to as variable
a = 10
b = 5
c = "ML"

#Multiple Assignments

In [7]:
a, b, c = 10, 5.5, "ML"

In [ ]:
a = b = c = "AI"    # assign the same value to multiple variables at once

#Storage Locations

In [8]:
x = 3
print(id(x))       # print address of variable x

11654440

In [10]:
y = 3
print(id(y))       # print address of variable y
                   # Observation: x and y points to same memory location

11654440

In [12]:
y = 2
print(id(y))       # print address of variable y

11654408

#Examples

In [13]:
# 1 Basic Variable Assignment

x = 10
name = "Rahul"
pi = 3.14

print (x)
print (name)
print (pi)

10
Rahul
3.14

In [14]:
# 2 Checking Data Type

a = 25
b = 2.5
c = "Python"
d = True

print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [15]:
# 3 Reassigning Variables

x = 10
x = 20

print (x)

20

In [16]:
# 4 Multiple Assignment

a, b, c = 1, 2, 3

print (a,b,c)

1 2 3

In [19]:
# 5 Assign same value to multiple assignment

x=y=z=100

print(x,y,z)

100 100 100

In [20]:
# 6 Swapping variables

a = 5
b = 10
a,b = b,a
print (a,b)

10 5

In [21]:
# 7 Using variables in expressions

length = 10
width = 5
area = length * width
print (area)

50